.container {
    font-family: Verdana, Geneva, sans-serif
}

.rooms {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.room {
    margin-bottom: 5px;
    text-align: center;
    font-size: 5em;
}